/* Task item styles */
/* Organized alphabetically */

/* Task item */
.item {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.25rem 1rem;
}

/* Task item close */
.close {
  padding-left: 0;
  padding-right: 0;
}
