/* Task component styles */
/* Organized alphabetically */

/* Task checkbox */
.checkbox {
  margin-right: 0.5rem;
}

/* Task checked */
.checked {
  font-style: italic;
  text-decoration: line-through;
}

/* Task label */
.name {
  font-size: 1rem;
}

/* Task spacing */
.task + .task {
  margin-top: 0.5rem;
}
