/* Global styles */
/* Organized alphabetically */

/* Reset root */
:root {
  font-size: 1rem;
}

/* Reset body */
body {
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
}

/* Reset typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
