/* Global styles */

/* Import Bootstrap */
@import "bootstrap/scss/bootstrap";

/* Body styles */
body {
  background-color: $gray-100;
}

/* Container styles */
.container {
  max-width: 700px;
}

/* Home card styles */
.home-card {
  border-radius: 0.5rem;
}
